<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Lister</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header class="main-header">
    <a href="/admin/add-movie" id="brand-link"><h1 class="brand-name">Yo Movies</h1></a>
    <a href="/admin/show-movie" id="movieList" class="auth">Movie List</a>
    <a href="/" id="movieList" class="auth">Add Movies</a>
</header>
</html>